h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}


/* custom DG styles **/

   stickyNoteText{
     color: #000000 !important;
   }

   .button--zopim.inactive {
     border-color: #ddd;
     color: #ddd;
   }
      
   .blocks-item-link {
    color: #fff;
    background: #00559d;
    }

    .blocks-item-link:hover, .blocks-item-link:focus, .blocks-item-link:active {
    color: #fff;
    background: #e60020;
    }
   
   .footer{
        background-color: #00559d;
   }
      
   /* Ticket Form**/
      
   .contactFormText{
     border: 5px solid #00559d;
   }

   .contactButtonTableCellLeftLeftBorder{
     border-left: solid 1px #D3D3D3;
   } 
   
   .contactButtonTableCellLeftTopBorder{
     border-top: solid 1px #D3D3D3;
   }
      
   .contactDataTableContent{
     border-bottom: 1px solid #ddd;
     border-top: 1px solid #ddd;
   }
      
   .recommendation{
     border: 1px solid #333;
     color: #333;
   }
      
   /* Footer */
   
   .contactLink, .contactLinkInfo, .contactLink:active, .contactLink:visited, .contactLinkInfo:hover {
       color: #fff;  
     }
   
   .contactLink:hover{
       color: #fff;
     }
   
     
     /* Footer Popups Phone Number**/
        
   .phone-number .popuptext {
     background-color: #d6e6f4;
     color: #000;
   }
   
   .phone-number .popuptext::after {
     border-color: #d6e6f4 transparent transparent transparent;
   }

     /* Desktop Footer**/
   
   @media (min-width: 768px) {

     
     .footer-contact__title {
       color: #000;
     }
     
     .footer-contact__private {
       font-size: 13px;
       color: #fff;
       border-right: 1px solid hsla(0,0%,100%,.1);
       border-left: 1px solid hsla(0,0%,100%,.1);
     }
     
       .footer-contact__business {
       color: #fff;
       border-right: 1px solid hsla(0,0%,100%,.1);
     }
   
   .body-border {
     border: 8px solid #00559D;
   }
        
  }
     
   
       /* Mobile Footer **/
   
     @media (max-width: 767px) { 

     .footer-contact__private {
       color: #fff;
     }
     
     .footer-contact__business {
       color: #fff;
     }
   
   .body-border {
     border: 8px solid #00559D;
   }
       
   }
   
   body {
     background-color: #ffffff;
     color: #333333;
     
   }

   
   html {
     background-color: #d1d3d4;
     font-family: 'Roboto', sans-serif; 
   }
   
/* aus style.css */


.button, [role="button"]{
  border: 1px solid #00559d;
  color: #fff;
  background-color: #00559d;
}

.button-back{
  color: #00559d;
  background-color: #d6e6f4;
  border: 1px solid #d6e6f4;
}

.button-contact{
  color: #00559d;
  background-color: #d6e6f4;
  border: 1px solid #d6e6f4;
}

.button-contact2{
  color: #00559d;
  background-color: #d6e4ef;
  border: 1px solid #d6e4ef;
}

.button-contact2:hover {
  background-color: #e60021;
  border: 1px solid #e60021;
  color: #fff;
}

[role="button"]:active, .button:active.button[aria-selected="true"], [role="button"][aria-selected="true"]{
  background-color: #d6e6f4;
  color: #00559d;
  border: 1px solid #d6e6f4;  
}

.button:hover, .button:focus, [role="button"]:hover, [role="button"]:focus, .button[aria-selected="true"]:hover, .button[aria-selected="true"]:focus, .button[aria-selected="true"]:active, [role="button"][aria-selected="true"]:hover, [role="button"][aria-selected="true"]:focus, [role="button"][aria-selected="true"]:active, .button-contact:hover, .button-back:hover {
  background-color: #e60020;
  color: #ffffff;
  border: 1px solid #e60020;
}

.button-large, input[type="submit"] {
  color: #fff;
  background-color: #00559d;
  border: 1px solid #00559d;
}

.button-large:hover, .button-large:active, .button-large:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background:#e60021;
  color:#fff;
  border: 1px solid #e60020;
}

.button-offline{
  color: #97bad7;
  background-color: #ededed;
}

#downvoteText{
  color: #333333;
}

/*.disabledborder {
  border-left: none;
}*/

/*.borderright{
  border-right: solid 1px #D3D3D3;
}*/

a {
  color: #007bc8;
}

a:hover, a:active, a:focus {
  color: #094979;
}

select:focus {
  border: 1px solid #0072ef;
}


/*CHAT*/

.article-votes-question{
  color: #333333;
}

.meshim_widget_widgets_TitleBar{
  color: #97bad7;
  background: #00559d;
}

.meshim_widget_widgets_ConnAwareSubmit{
  color: #ffffff;
  background: #00559d;
  border-color: #003e83;
}

.meshim_widget_widgets_ConnAwareSubmit:hover{
  background: #2e6ab4;
}

/*downvote*/

#hrefEinreichen{
  color: #fff;
}

.article-vote[aria-selected="true"]{
  background-color: #d6e6f4;
  color: #00559d;
  border: 1px solid #d6e6f4; 
}


body {
  /*background-color: #ffffff;*/
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
 /* font-weight: 400;*/
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.font1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

#FeedbackVote{
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 0;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

/*Search Box corners for digitec*/
.search input[type="search"] {
  border: 1px solid #565656;
  border-radius: 0px;
  box-sizing: border-box;
  color: #999;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-appearance: none;
  width: 100%;
}

/*Make Links Red on mouseover*/
.promoted-articles-item a:hover {
  color: #e60021;
}

.article-body a:hover{
  color: #e60021;
}

.breadcrumbs a:hover{
  color: #e60021;
}

.contactFormText a:hover{
  color: #e60021;
}

.article-sidebar a:hover{
  color: #e60021;
}

.section a:hover{
  color: #e60021;
}

.dropdown-toggle:hover{
  color: #e60021;
}

.recommendedChannel{
  border-color: #00559d;
  color: #00559d;
}
