@charset "UTF-8";
/** Font */
/*#007bc8*/
/*#094979*/

/* custom DG styles **/

.nesty-panel {
 height: auto;
 max-height: 250px;
}

header svg {
	width: 90px;
}

.button--shop {
	margin-top: 12px;
}

.button--zopim {
	white-space: normal;
}

.button--zopim.inactive {
	border-color: #ddd;
  color: #ddd;
  pointer-events: none;
}

.hidden {
	display: none;
}
 
.blocks-item-link {
   color: #fff;
   background: #444;
   }

   .blocks-item-link:hover, .blocks-item-link:focus, .blocks-item-link:active {
   color: #fff;
   background: #000;
   }

.footer{
    background-color: #333;
}

.footer-side,
.footer-center,
.footer-inner{
  margin: auto;
}

.footer-contact__title {
	margin-bottom: 12px;
  font-size: 15px;
}

/* Ticket Form**/

#request_custom_fields_360007967480_label, #request_custom_fields_360007967480 {
display: none;
}

.contact-info{
  padding-top: 10px;
  font-weight: lighter;
  clear:both
}

.contactFormNote{
  display:none; 
  width:100%;
  padding-top: 30px;
}

.contactFormText{
  border: 5px solid #565656;
	display:none; 
  width:100%;
  padding: 20px;
}

.contactFormTextNoBorder{
  width:100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 35px;
}

.contactButtonTableCellFull{
  width:100%;
  padding-top:10px;
  text-align:left;
}

.contactButtonTableCellLeft{
  width:33%;
  padding-top:0px;
  text-align:left;
  padding-left:20px;
  padding-right:20px;
}

.contactButtonTableCellLeftLeftBorder{
  width:33%;
  padding-top:0px;
  text-align:left;
  padding-left:20px;
  padding-right:20px;
  border-left: solid 1px #D3D3D3;
}

.contactButtonTableCellLeftNoBorder{
  width:33%;
  padding-top:0px;
  text-align:left;
  padding-left:20px;
  padding-right:20px;
}

.contactButtonTableCellLeftBottomBorder{
  width:33%;
  padding-top:0px;
  padding-bottom:10px;
  text-align:left;
  padding-left:20px;
  padding-right:20px;
 
}

.contactButtonTableCellLeftTopBorder{
  width:33%;
  padding-top:0px;
  padding-bottom:0px;
  text-align:left;
  padding-left:20px;
  padding-right:20px;
  border-top: solid 1px #D3D3D3;
}

.contactButtonTableCellCenter{
  width:33%;
  padding-top:0px;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
}

.contactButtonTableCellRight{
  width:33%;
  padding-top:0px;
  text-align:right;
  padding-left:20px;
}

.contactButtonTableCellGeneric{
  width:33%;
  padding-top:0px;
  text-align:center;
}

.contactButtonTableCellRightMobile{
  width:66%;
  padding-top:5px;
  text-align:left;
}

.contactData{
  display: none;
  width:100%;
}

.contactDataTable{
  width:100%;
}

.contactDataTableContent{
  padding: 20px;
  padding-left: 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.buttonContactFormContact{
  width: 30%;
  float: right;
  margin-top: 10px;
}

.contactOption{
  font-size: x-large;
  font-weight: lighter;
  float: left;
}

.recommendation{
  font-weight: normal;
  font-size: small;
  border: 1px solid #333;
  display: inline-block;
  color: #333;
  vertical-align: center;
  padding: 3px;
  margin-left: 8px;
}

.mailRecommendation{
  display: none;
}

.phoneRecommendation{
  display: none;
}

/* Footer */

.contactLink, .contactLinkInfo, .contactLink:active, .contactLink:visited, .contactLinkInfo:hover {
    color: #fff;  
  }

.contactLink:hover{
    color: #fff;
  	text-decoration: underline;
  }

.contactLink{
    font-size: large;
  	font-weight: lighter;
  }

.contactLinkInfo{
    font-size: x-large;
  	font-weight: lighter;
  }

  /* Footer Popups Phone Number**/
  
  .phone-number {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.phone-number .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #bebebe;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 30px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.phone-number .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #bebebe transparent transparent transparent;
}

.phone-number .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


  /* Desktop Footer**/

@media (min-width: 768px) {
  .footer-inner {
  	margin: auto;
  }
  
 	.footer-side {
    padding-right: 24px;
		width: 20%;
  }

  .footer-center {
    width: 80%;
  }

  .footer-contact {
   	float: left;
    width: 50%;
  	margin: 0;
    padding: 24px 0px;
    visibility: hidden;
  }
  
  .footer-contact__title {
  	font-size: 16px;
    font-weight: 600;
    font: inherit;
    color: #000;
  }
  
  .footer-contact__private {
    width: 40%;
		float: right;
    font-size: 13px;
    color: #fff;
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid hsla(0,0%,100%,.1);
    padding: 0px 0px 0px 24px;
  }
  
    .footer-contact__business {
    width: 40%;
		float: left;
    font-size: 13px;
    color: #fff;
    border-right: 1px solid hsla(0,0%,100%,.1);
    padding: 0px 0px 0px 24px;
  }
  

.logoSvg {
  width: 170px;
}

.body-border {
  border: 8px solid transparent;
}
  
}

  
    /* Mobile Footer **/

  @media (max-width: 767px) { 
  
 	.footer-side {
    padding-right: 24px;
		width: 20%;
  }
    
  .footer-contact {
  visibility: hidden;
}

  .footer-center {
    width: 80%;
  }
  
  
  .footer-contact__private {
    font-size: 13px;
    color: #fff;
    padding-top: 24px;
  }
  
  .footer-contact__business {
    font-size: 13px;
    color: #fff;
    padding-top: 24px;
  
  }


.logoSvg {
  width: 170px;
}

/*.body-border {
  border: 8px solid #00559D;
}*/
    
.button-contact{
  width: 100%;
}
}
  
.sectorBand {
  display: flex;
  height: 10px;
}

.interriorBand {
  background: #c4a277;
  flex: 1;
}

.householdBand {
	background: #ffc32d;
  flex: 1;
}

.sportsBand {
  background: #f67858;
  flex: 1;
}

.toysBand {
  background: #84d160;
  flex: 1;
}

.babyBand {
  background: #b384d3;
  flex: 1;
}

.officeBand {
  background: #72c7f9;
  flex: 1;
}

body {
  min-height: 100VH;
  background-color: #ffffff;
  color: #333333;
  
}

@media (min-width: 1360px){
  body {
    margin: 0 auto !important;
		float: none !important;
    width: 1360px;
    display: table;
  }
}

@media (max-width: 1359px){
  body {
    width: 100%;
  }
}

html {
  min-height: 100%;
  background-color: #d1d3d4; 
}

/* aus style.css */


.button, [role="button"]{
  border: 1px solid #444;
  color: #fff;
  background-color: #444;
}
/*
.button-contact{
  color: #000;
  background-color: #eee;
  border: 1px solid #bebebe;
}
*/
.button-contact2{
  color: #000;
  background-color: #eee;
  border: 1px solid #bebebe;
}

.button-contact2:hover {
  background-color: #ddd;
  border: 1px solid #565656;
  color: #000;
}
/*
[role="button"]:active, .button:active.button[aria-selected="true"], [role="button"][aria-selected="true"]{
  background-color: #d6e6f4;
  color: #000;
  text-decoration: none;
  border: 1px solid #d6e6f4;  
}
*/
.button:hover, .button:focus, [role="button"]:hover, [role="button"]:focus, .button[aria-selected="true"]:hover, .button[aria-selected="true"]:focus, .button[aria-selected="true"]:active, [role="button"][aria-selected="true"]:hover, [role="button"][aria-selected="true"]:focus, [role="button"][aria-selected="true"]:active, .button-contact:hover {
  background-color: #000;
  border: 1px solid #000;
}
/*
.button-large, input[type="submit"] {
  color: #fff;
  background-color: #000;
}

.button-large:hover, .button-large:active, .button-large:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background:#ddd;
  color:#000
}

a {
  color: #007bc8;
}

a:hover, a:active, a:focus {
  color: #094979;
}

select:focus {
  border: 1px solid #0072ef;
}
*/

.article-votes-question{
  color: #000;
}