@charset "UTF-8";
/** Font */
/*#007bc8*/
/*#094979*/

/* custom GALAXUS styles **/

/**/

@font-face {
  font-family: 'Gibson';
  font-weight: 300;
  font-style: normal;
  src: url("$assets-gibson-light-webfonthinted-eot");
  src: url("$assets-gibson-light-webfonthinted-eot?#iefix") format("embedded-opentype"),url("$assets-gibson-light-webfonthinted-woff") format("woff"),url("$assets-gibson-light-webfonthinted-ttf") format("truetype"),url("$assets-gibson-light-webfonthinted-svg") format("svg")
}

@font-face {
  font-family: 'Gibson';
  font-weight: 400;
  font-style: normal;
  src: url("$assets-gibson-regular-webfont-eot");
  src: url("$assets-gibson-regular-webfont-eot?#iefix") format("embedded-opentype"),url("$assets-gibson-regular-webfont-woff") format("woff"),url("$assets-gibson-regular-webfont-ttf") format("truetype"),url("$assets-gibson-regular-webfont-svg") format("svg")
}


@font-face {
  font-family: 'Gibson';
  font-weight: 600;
  font-style: normal;
  src: url("$assets-gibson-semibold-webfont-eot");
  src: url('$assets-gibson-semibold-webfont-eot#iefix') format("embedded-opentype"),url("$assets-gibson-semibold-webfont-woff") format("woff"),url("$assets-gibson-semibold-webfont-ttf") format("truetype"),url("$assets-gibson-semibold-webfont-svg") format("svg")
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gibson', sans-serif;
}

.button--zopim.inactive {
	border-color: #ddd;
  color: #ddd;
}
 
.blocks-item-link {
   color: #fff;
   background: #444;
   }

   .blocks-item-link:hover, .blocks-item-link:focus, .blocks-item-link:active {
   color: #fff;
   background: #333;
   }

.footer{
    background-color: #333;
}

/* Ticket Form**/

.contactFormText{
  border: 5px solid #565656;
}

.contactButtonTableCellLeftLeftBorder{
  border-left: solid 1px #D3D3D3;
}

.contactButtonTableCellLeftTopBorder{
  border-top: solid 1px #D3D3D3;
}

.contactDataTableContent{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.recommendation{
  border: 1px solid #333;
  color: #333;
}

/* Footer */

.contactLink, .contactLinkInfo, .contactLink:active, .contactLink:visited, .contactLinkInfo:hover {
    color: #fff;  
  }

.contactLink:hover{
    color: #fff;

  }



  /* Footer Popups Phone Number**/
  
.phone-number .popuptext {
  background-color: #bebebe;
  color: #000;
}

.phone-number .popuptext::after {
  border-color: #bebebe transparent transparent transparent;
}

  /* Desktop Footer**/

  .footer-contact__title {
    color: #000;
  }
  
  .footer-contact__private {
    color: #fff;
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid hsla(0,0%,100%,.1);
  }
  
    .footer-contact__business {
    color: #fff;
    border-right: 1px solid hsla(0,0%,100%,.1);
  }
  

    /* Mobile Footer **/

  @media (max-width: 767px) { 

  .footer-contact__private {
    color: #fff;
  }
  
  .footer-contact__business {
    color: #fff;  
  }
}
  
.interriorBand {
  background: #c4a277;
}

.householdBand {
	background: #ffc32d;
}

.sportsBand {
  background: #f67858;
}

.toysBand {
  background: #84d160;
}

.babyBand {
  background: #b384d3;
}

.officeBand {
  background: #72c7f9;
}

body {
  background-color: #ffffff;
  color: #333333;

}

html {
  background-color: #d1d3d4; 
}

/* aus style.css */


.button, [role="button"]{
  border: 1px solid #444;
  color: #fff;
  background-color: #444;
}

.button-back{
  color: #000;
  background-color: #bebebe;
  border: 1px solid #bebebe;
}

.button-contact{
  color: #000;
  background-color: #bebebe;
  border: 1px solid #bebebe;
}

.button-contact2{
  color: #000;
  background-color: #eee;
  border: 1px solid #eee;
}

.button-contact2:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #000;
}

[role="button"]:active, .button:active.button[aria-selected="true"], [role="button"][aria-selected="true"]{
  background-color: #bebebe;
  color: #444;
  border: 1px solid #bebebe;  
}

.button:hover, .button:focus, [role="button"]:hover, [role="button"]:focus, .button[aria-selected="true"]:hover, .button[aria-selected="true"]:focus, .button[aria-selected="true"]:active, [role="button"][aria-selected="true"]:hover, [role="button"][aria-selected="true"]:focus, [role="button"][aria-selected="true"]:active, .button-contact:hover, .button-back:hover {
  background-color: #565656;
  color: #fff;
  border: 1px solid #565656;
}

.button-large, input[type="submit"] {
  color: #fff;
  background-color: #444;
  border: 1px solid #444;
}

.button-large:hover, .button-large:active, .button-large:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background:#000;
  color:#fff;
  border: 1px solid #000;
}

.button-offline{
  color: #bebebe;
  background-color: #ededed;
}

#downvoteText{
  color: #333333;
}

.borderright{
  border-right: solid 1px #D3D3D3;
}


a {
  color: #007bc8;
}

a:hover, a:active, a:focus {
  color: #094979;
  /*color: #000;*/
}

select:focus {
  border: 1px solid #0072ef;
}


/*CHAT*/

.article-votes-question{
  color: #333333;
}

.meshim_widget_widgets_TitleBar{
  color: #a0a0a0;
  background: #333333;
}

.meshim_widget_widgets_ConnAwareSubmit{
  color: #ffffff;
  background: #333333;
  border-color: #1e1e1e;
}

.meshim_widget_widgets_ConnAwareSubmit:hover{
  background: #494949;
}

/*downvote*/

#hrefEinreichen{
  color: #fff;
}

.article-vote[aria-selected="true"]{
  background-color: #eee;
  color: #000;
  border: 1px solid #eee; 
}

/*Search field*/
.search input[type="search"] {
  border: 1px solid #565656;
  border-radius: 30px;
  box-sizing: border-box;
  color: #999;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-appearance: none;
  width: 100%;
}

/*Make Links Red on mouseover*/
.promoted-articles-item a:hover {
  color: #124476;
}

.article-body a:hover{
  color: #124476;
}

.breadcrumbs a:hover{
  color: #124476;
}

.contactFormText a:hover{
  color: #124476;
}

.article-sidebar a:hover{
  color: #124476;
}

.section a:hover{
  color: #124476;
}

.dropdown-toggle:hover{
  color: #124476;
}

.recommendedChannel{
  border-color: #565656;
  color: #565656;
}
