<footer class="footer">
 <div class="footer-inner">
   				 <h2><a class='contactLinkInfo' data-wording-key="noAnswerFound"></a></h2>
           <!--<a class='contactLink' href="/hc/requests/new" data-wording-key="contact"></a>-->
   <h4><a href="/hc/requests/new"><button class="button-contact2" data-wording-key="contact" style="line-height: 2;padding: 0px 40px;font-family: Gibson, sans-serif;"></button></a></h4>
  <script>
    if(window.location.hostname =!"helpcenter.digitec.ch"){
      $(".footer").addClass("footer-galaxus");
    }
    if(window.location.hostname =!"helpcenter.digitec.ch"){
      $(".button-contact2").addClass("button-contact2-galaxus");
    } 
  </script>
  </div>
</footer>