<footer class="footer">
  <div class="footer-inner">
    <h2><a class='contactLinkInfo' data-wording-key="noAnswerFound"></a></h2>
    <h4><a class="contactFormLink" href="/hc/requests/new?ticket_form_id=360002056120"><button class="button-contact2" data-wording-key="contact"></button></a></h4>
    <div style="margin-top:50px"><font data-wording-key="privacynotice"></font></div>
  </div>

</footer>