<footer class="footer">
 <div class="footer-inner">
   <h2><a class='contactLinkInfo' data-wording-key="noAnswerFound"></a></h2>
   <h4><a href="/hc/requests/new"><button class="button-contact2" data-wording-key="contact" style="line-height: 2;padding: 0px 40px;font-family: Gibson, sans-serif;"></button></a></h4>

  </div>
</footer>
<script>
 /* try{
   throw new Error("We made an error");
    $('.button-contact2').on("click", function () {

  }
  }catch(e){

    
    console.error(e);
  }*/
</script>